services:
  db:
    image: postgres:15
    shm_size: 1gb
    restart: on-failure:5
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data
      - db_logs:/var/log/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U league" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: 762233752592.dkr.ecr.eu-north-1.amazonaws.com/evsite:backend
    restart: on-failure:5
    command: bash -c "service cron start && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn evsite.wsgi:application --bind 0.0.0.0:8000"
    env_file: .env
    volumes:
      - backend_staticfiles:/staticfiles
    expose:
      - 8000
    depends_on:
      db:
        condition: service_healthy

  frontend:
    image: 762233752592.dkr.ecr.eu-north-1.amazonaws.com/evsite:frontend
    restart: on-failure:5
    volumes:
      - frontend_dist:/code/dist
    env_file: .env

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw

  nginx:
    image: nginx:1.27
    restart: on-failure:5
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/maintenance_mode.json:/etc/nginx/maintenance_mode.json:ro
      - ./certbot/conf/live/gupevolution.click/fullchain.pem:/usr/share/certs/fullchain.pem:ro
      - ./certbot/conf/live/gupevolution.click/privkey.pem:/usr/share/certs/privkey.pem:ro
      - frontend_dist:/usr/share/nginx/html
      - backend_staticfiles:/usr/share/nginx/static
      - nginx_logs:/var/log/nginx
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_completed_successfully
    entrypoint: sh -c "mkdir -p /usr/share/nginx/static && nginx -g 'daemon off;'"

  db_backup:
    image: postgres:15
    restart: unless-stopped
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./db_backups:/backups
    entrypoint: >
      sh -c "
      echo '0 2 * * * pg_dump -h db -U $${POSTGRES_USER} $${POSTGRES_DB} \
      | gzip > /backups/backup_$(date +\%F).sql.gz &&
      find /backups -type f -mtime +6 -delete' | crontab - &&
      crond -f -L /dev/stdout
      "

volumes:
  backend_staticfiles:
  frontend_dist:
  db_data:
  db_logs:
  nginx_logs:

